.macbook-air {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .macbook-air .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1280px;
    height: 3282px;
    position: relative;
  }
  
  .macbook-air .overlap {
    position: absolute;
    width: 1280px;
    height: 1516px;
    top: 0;
    left: 0;
  }
  
  .macbook-air .unsplash-q-RBVFFXR-g {
    position: absolute;
    width: 1280px;
    height: 628px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .macbook-air .group {
    position: absolute;
    width: 474px;
    height: 22px;
    top: 43px;
    left: 384px;
  }
  
  .macbook-air .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 215px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 398px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .cosmoquest {
    position: absolute;
    width: 465px;
    top: 311px;
    left: 25px;
    -webkit-text-stroke: 1px #000000;
    font-family: "Karantina-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 100px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .macbook-air .rectangle {
    position: absolute;
    width: 1280px;
    height: 889px;
    top: 627px;
    left: 0;
  }
  
  .macbook-air .image {
    position: absolute;
    width: 551px;
    height: 620px;
    top: 718px;
    left: 669px;
    object-fit: cover;
  }
  
  .macbook-air .author-spotlight {
    position: absolute;
    width: 594px;
    top: 717px;
    left: 26px;
    font-family: "Karantina-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 70px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .dr-simon-skala {
    position: absolute;
    width: 608px;
    top: 903px;
    left: 26px;
    font-family: "Karantina-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .overlap-group {
    position: absolute;
    width: 368px;
    height: 126px;
    top: 3066px;
    left: 478px;
  }
  
  .macbook-air .frame-wrapper {
    position: absolute;
    width: 203px;
    height: 56px;
    top: 21px;
    left: 165px;
  }
  
  .macbook-air .frame {
    height: 56px;
  }
  
  .macbook-air .div-wrapper {
    position: relative;
    width: 284px;
    height: 56px;
    left: -65px;
  }
  
  .macbook-air .frame-2 {
    display: flex;
    width: 329px;
    height: 126px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    top: -21px;
    left: -555px;
    background-color: #000000;
    border-radius: 5px;
  }
  
  .macbook-air .text-wrapper-4 {
    position: relative;
    width: fit-content;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .macbook-air .frame-3 {
    display: flex;
    width: 329px;
    height: 126px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    border-radius: 5px;
  }
  
  .macbook-air .frame-4 {
    display: flex;
    width: 329px;
    height: 126px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 3066px;
    left: 930px;
    background-color: #000000;
    border-radius: 5px;
  }
  
  .macbook-air .overlap-2 {
    position: absolute;
    width: 1267px;
    height: 116px;
    top: 1528px;
    left: 0;
  }
  
  .macbook-air .text-wrapper-5 {
    position: absolute;
    width: 333px;
    top: 0;
    left: 13px;
    font-family: "Karantina-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 70px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .line {
    width: 1267px;
    height: 1px;
    top: 85px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-air .overlap-3 {
    position: absolute;
    width: 1267px;
    height: 407px;
    top: 1644px;
    left: 0;
  }
  
  .macbook-air .p {
    position: absolute;
    width: 1100px;
    top: 194px;
    left: 13px;
    font-family: "Karantina-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .text-wrapper-6 {
    position: absolute;
    width: 1100px;
    top: 0;
    left: 13px;
    font-family: "Karantina-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .img {
    width: 1267px;
    height: 2px;
    top: 348px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-air .line-2 {
    width: 1259px;
    height: 2px;
    top: 139px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-air .overlap-4 {
    position: absolute;
    width: 1259px;
    height: 213px;
    top: 2516px;
    left: 0;
  }
  
  .macbook-air .line-3 {
    width: 1259px;
    height: 2px;
    top: 192px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-air .overlap-5 {
    position: absolute;
    width: 1271px;
    height: 214px;
    top: 2051px;
    left: 0;
  }
  
  .macbook-air .line-4 {
    width: 1271px;
    height: 2px;
    top: 166px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-air .overlap-6 {
    position: absolute;
    width: 1271px;
    height: 215px;
    top: 2272px;
    left: 0;
  }
  
  .macbook-air .line-5 {
    width: 1271px;
    height: 2px;
    top: 206px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-air .text-wrapper-7 {
    position: absolute;
    width: 1378px;
    height: 50px;
    top: 3231px;
    left: -46px;
    font-family: "Inter-Italic", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #000000;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .macbook-air .line-6 {
    width: 1278px;
    height: 1px;
    top: 3049px;
    left: 2px;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-air .text-wrapper-8 {
    position: absolute;
    width: 279px;
    top: 2739px;
    left: 13px;
    font-family: "Karantina-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .overlap-7 {
    position: absolute;
    width: 279px;
    height: 164px;
    top: 2817px;
    left: 89px;
  }
  
  .macbook-air .rectangle-2 {
    position: absolute;
    width: 254px;
    height: 156px;
    top: 8px;
    left: 9px;
    background-color: #d9d9d9;
  }
  
  .macbook-air .stslaunchhires {
    position: absolute;
    width: 279px;
    height: 164px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .macbook-air .overlap-8 {
    position: absolute;
    width: 283px;
    height: 165px;
    top: 2817px;
    left: 501px;
  }
  
  .macbook-air .rectangle-3 {
    position: absolute;
    width: 270px;
    height: 164px;
    top: 0;
    left: 7px;
    background-color: #d9d9d9;
  }
  
  .macbook-air .screenshot {
    position: absolute;
    width: 283px;
    height: 164px;
    top: 1px;
    left: 0;
    object-fit: cover;
  }
  
  .macbook-air .overlap-9 {
    position: absolute;
    width: 270px;
    height: 172px;
    top: 2813px;
    left: 918px;
  }
  
  .macbook-air .rectangle-4 {
    position: absolute;
    width: 258px;
    height: 163px;
    top: 5px;
    left: 12px;
    background-color: #d9d9d9;
  }
  
  .macbook-air .screenshot-2 {
    position: absolute;
    width: 270px;
    height: 172px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  